---
import Logo from '../images/aivan-logo-reverse.svg';
---

<footer class="bg-major min-h-[200px] text-center text-white text-sm mt-auto" style="padding: 15px;">
  <a href="/">
    <img
      src={Logo.src}
      alt="Aivan Monceller"
      class="w-[150px] h-[58px] mx-auto"
    />
  </a>
  <p class="text-[rgb(189,204,237)]" style="margin: 25px 0;">
    Building front-end applications, web APIs, system utilities and
    development tools using JavaScript, TypeScript, C# and Go.
  </p>
  <p style="margin: 5px 0;">
    {new Date().getFullYear()}
    {' '}
    <a href="https://aivan.io" class="text-white">Aivan Monceller</a>. All Rights Reserved
  </p>
</footer>
