---
import Logo from '../images/aivan-logo.svg';
---

<header class="mb-6 h-[65px] max-h-[65px] md:h-20 md:max-h-20">
  <div class="fixed top-0 left-0 right-0 z-[1000] mx-auto max-w-[960px] shadow-md bg-white text-center">
    <h1 class="m-0 inline-block">
      <a href="/">
        <img
          src={Logo.src}
          alt="Aivan Monceller"
          class="w-[120px] md:w-[150px] mt-1.5"
        />
      </a>
    </h1>
  </div>
</header>
