---
import Logo from '../images/aivan-logo.svg';
---

<header style="margin-bottom: 1.45rem;" class="h-[65px] max-h-[65px] md:h-20 md:max-h-20">
  <div class="fixed top-0 left-0 right-0 z-[1000] bg-white text-center h-[65px] md:h-20" style="box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);">
    <h1 class="m-0 inline-block">
      <a href="/">
        <img
          src={Logo.src}
          alt="Aivan Monceller"
          class="w-[120px] md:w-[150px]"
          style="margin-top: 5px;"
        />
      </a>
    </h1>
  </div>
</header>
